.gallery {
    font-family: 'Segeo UI', sans-serif;
    color: #222222;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.gallery2 {
    max-width: 500px;;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

.th4 {
    color: #ffffff;
}

.left {
    float: left;
    padding-right: 15px;
    width: calc(100% / 3);
}

.red {
    position: relative;
    height: 400px;
    background-color: red;
}

.mid {
    float: left;
    padding-right: 15px;
    width: calc(100% / 3);
}

.green {
    position: relative;
    height: 400px;
    background-color: green;
}

.right {
    float: left;
    width: calc(100% / 3);
}

.blue {
    position: relative;
    height: 400px;
    background-color: blue;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}