* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#009FFF, #db36a4)
}

.button {
    margin: 2px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background: #181818;
    color: #ffffff;
}

.textview {
    margin: 4px;
    padding: 5px;
    width: 218px;
    font-size: 36px;
    border: none;
    background: #ffffff;
    color: #0e0e0e;
}