<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>080vr | Du lịch tâm linh</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/project/includes/css/style-category.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://kit.fontawesome.com/f81fe49d30.js"></script>
</head>

<body>
    <header class="site-header fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light main-header clr">
            <a class="navbar-brand" href="#" target="_blank">
                <img class="img-fluid" src="/project/assets/images/080vr.png" alt="080vr">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project/includes/templates/experience.html" target="_blank">trải nghiệm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">blog</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <i class="material-icons search-icon">search</i>
                    <button class="btn btn-login" type="submit">đăng nhập</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="clr category-title-container">
        <div class="category-title-box">
            <h3 class="category-title">Du lịch tâm linh</h3>
        </div>
    </div>
    <div class="most-popular clr">
        <h5 class="text">Địa điểm nổi bật</h5>
        <p>Cùng 080vr bắt đầu chuyến hành trình chinh phục thế giới của bạn</p>
        <div class="card-deck">
            <div class="card item-popular-1">
                <a href="">
                    <img src="/project/assets/images/category/most-popular-pagoda-1.png" class="card-img-top"
                        alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta
                        ...</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-popular-2">
                <a href="">
                    <img src="/project/assets/images/category/most-popular-pagoda-2.png" class="card-img-top"
                        alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta
                        ...</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-popular-3">
                <a href="">
                    <img src="/project/assets/images/category/most-popular-pagoda-3.png" class="card-img-top"
                        alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta
                        ...</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-popular-4">
                <a href="">
                    <img src="/project/assets/images/category/most-popular-pagoda-4.png" class="card-img-top"
                        alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta
                        ...</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-more">
            <a href="">Xem tất cả</a>
        </div>
    </div>
    <div class="all-places clr">
        <h5 class="text">Tất cả địa điểm</h5>
        <div class="card-deck">
            <div class="card item-place-left">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-1.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-2.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-3.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-4.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-5.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place-right">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-6.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card item-place-left">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-7.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-8.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-9.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-10.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-11.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place-right">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-12.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card item-place-left">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-1.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-2.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-3.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-4.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-5.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place-right">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-6.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card item-place-left">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-7.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-8.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-9.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-10.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-11.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
            <div class="card item-place-right">
                <a href="">
                    <img src="/project/assets/images/category/pagoda-12.png" class="card-img-top" alt="Pagoda">
                </a>
                <div class="card-body">
                    <a href="">
                        <h5 class="card-title">Pagoda</h5>
                    </a>
                    <p class="card-text mp-detail">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="mp-rating">
                        <span class="mp-star-rating">
                            <span class="mp-number-star">4.5</span>
                            <i class="material-icons mp-icon">star</i>
                        </span>
                        <span class="mp-number-rating">(1200)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-more">
            <a href="">Xem tất cả</a>
        </div>
    </div>
    <div class="load-more">
        <div class="load-more-container">
            <div class="load-more-box">
                <button type="button" class="btn align-middle" id="view-more">Xem thêm</button>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="footer-clr">
            <div class="row main-footer">
                <div class="col-5 footer-box-1">
                    <div class="footer-widget">
                        <div class="brand-container">
                            <div class="footer-logo">
                                <a href="">
                                    <img src="/project/assets/images/footer-logo.png" style="max-height: 1.5rem"
                                        alt="080vr">
                                </a>
                            </div>
                            <ul class="textwidget">
                                <li class="footer-item">
                                    <a href="">trở thành thành viên</a>
                                </li>
                                <li class="footer-item">
                                    <a href="">theo dõi chúng tôi</a>
                                </li>
                            </ul>
                            <ul class="socials">
                                <li class="footer-social-item">
                                    <i class="fab fa-facebook-square"></i>
                                </li>
                                <li class="footer-social-item">
                                    <i class="fab fa-twitter"></i>
                                </li>
                                <li class="footer-social-item">
                                    <i class="fab fa-linkedin"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3 footer-box-2">
                    <div class="footer-widget">
                        <h6 class="widget-title">giới thiệu</h6>
                        <div class="menu-about-container">
                            <ul class="menu-about">
                                <li class="footer-item">
                                    <a href="">080vr</a>
                                </li>
                                <li class="footer-item">
                                    <a href="">Đội ngũ</a>
                                </li>
                                <li class="footer-item">
                                    <a href="">Blog & Tin tức</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4 footer-box-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">trợ giúp</h6>
                        <div class="menu-support-container">
                            <ul class="menu-support">
                                <li class="footer-item">
                                    <a href="">Câu hỏi thường gặp</a>
                                </li>
                                <li class="footer-item">
                                    <a href="">Liên hệ</a>
                                </li>
                                <li class="footer-item">
                                    <a href="">Điều khoản & Quyền riêng tư</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div id="copyright" class="mx-auto text-center">
                    © 2019 080vr. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>